# Build directories
build/
build_xiao/
# Logs
*.log
.cache

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# IDEs
.idea/

# Old samples
old/

# Temporary files
*.tmp
*.swp
hpf_gpio_basic_api/
hpf_gpio_more_loops/
hci_uart/
led_strip_pov/
Not_working/
pyOCD/
hpf-mspi/
blink_hpf/
reference/
board_config_template.overlay
hpf.rst

# West workspace (keep .west/config for non-standard layout)
.west/*
!.west/config
.zephyr/
modules/
tools/
bootloader/

# Nix
.direnv

# Ignore submodule local changes
lib/flatbuffers
platform-seeedboards
pyOCD
